.memberPhoto{
    height:65%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    margin-bottom: 5%;
    transition: all 1s linear;

}
.memberPhoto:hover{
    transform: scale(1.1);
}

 .contactRow .col{
    height: 50vh;
    text-align: center;
    display: block !important;
}

 .contactRow .col a{
    display: block !important;
    max-width: 100%;
    margin-bottom: 0px !important;
}

.contactRow .col h2{
    display: block !important;
    max-width: 100%;
    margin-bottom: 0px !important;
}

 .contactRow .col a{
    text-decoration: underline;
}