.HistoryRow{
    background-image: url('../../img/CDE1.jpg');
    background-position: center;
    background-size: cover;
    height: auto;
    }
.HistoryCol{
    background-color:  rgba(153,93,129,0.9);
    height: 100%;
    max-height:200% ;
}
.HistoryCol  h1{
    color: white;
    font-size: 1.4em !important;
    text-align: center;
    height: 100%;
    min-height: 54vh;
    margin-top: 5vh;
    margin-bottom: 5vh !important;
    margin-right: 10%;
    margin-left: 10%;
    clear:both;
}
.historyContainer{
    height: auto;
}