.nav-link{
    color: darkgrey !important;

}
.language{
    color: lightgrey !important;
    cursor: pointer;
}
.activeLanguage{
    color: black !important;
    cursor: pointer;
}
.sticky-navbar{
    position: sticky !important;
}